.p_showcase {
  .p_wrapper {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    @include mQ($md) {
      grid-template-columns: 1fr;
    }
    .p_image {
      position: relative;
      height: 350px;
      border: 5px solid $brand_color_primary;
      cursor: pointer;

      &:nth-child(1) {
        grid-column: 1/3;
      }
      &:nth-child(3) {
        grid-column: 4/5;
        grid-row: 1/3;
        height: 100%;
      }
      &:nth-child(5) {
        grid-column: 2/4;
      }
      @include mQ($md) {
        // &:nth-child(1) {
        //   grid-column: 1/2;
        //   grid-row: 1/2;
        // }
        // &:nth-child(2) {
        //   grid-column: 1/2;
        //   grid-row: 2/3;
        // }
        &:nth-child(3) {
          grid-column: 1/2;
          grid-row: 3/4;
          height: 100%;
        }
        // &:nth-child(4) {
        //   grid-column: 1/2;
        //   grid-row: 4/5;
        // }
        // &:nth-child(5) {
        //   grid-column: 1/2;
        //   grid-row: 5/6;
        // }
        // &:nth-child(6) {
        //   grid-column: 1/2;
        //   grid-row: 6/7;
        // }
      }
    }
  }
  .viewMoreBtn {
    margin: 55px 0 0 0;
    display: grid;
    place-items: center;
  }
}
