.header {
  background-color: $brand_color_secondary;
  color: $brand_color_primary;
  height: 10vh;
  .wrapper {
    height: 100%;
    @include displayCenter(center, space-between);
    flex-wrap: wrap;
    &_left {
      position: relative;
      width: 200px;
      height: 80%;
      height: 80%;
      border-radius: 2px !important;
      overflow: hidden;
      cursor: pointer;
      box-shadow: $box_shadow_one;
      margin-top: 10px;
    }
    &_right {
      @include displayCenter(center, space-evenly);
      p {
        padding: 0 25px;
        cursor: pointer;
        font-weight: 600;
      }
    }
    .menu_icon {
      display: none !important;
      cursor: pointer;
      svg {
        font-size: 30px;
      }
    }
    @include mQ($md) {
      position: relative;
      .menu_icon {
        display: block !important;
      }
      &_left {
        width: 100px;
        height: 50%;
        margin-top: 0;
        box-shadow: none;
      }
      &_right {
        background-color: $brand_color_secondary;
        position: absolute;
        display: none;
        top: 10vh;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        z-index: 222;
        @include mQ($md) {
          top: 6vh;
        }
        p {
          padding: 10px;
          text-align: right;
        }
      }
    }
    .menu_icon {
      display: block;
    }
  }
  @include mQ($md) {
    box-shadow: $box_shadow_one;
    height: 6vh;
  }
}
