$fontFamilyOne: 'Open Sans', sans-serif;
$brand_color_primary: #ffffff;
$brand_color_secondary: #040d21;
$text_color_primary: #ffffff9b;
$text_color_primary: #8193b2;
$box_shadow_one: rgba(0, 174, 255, 0.438) 0px 10px 50px;
$box_shadow_three: rgba(0, 174, 255, 0.909) 0px 10px 50px;
$box_shadow_two: rgba(0, 0, 0, 0.438) 0px 10px 50px;
$card_bg: #f0f8ff;
$gradient_one: #a2facf;
$gradient_two: #64acff;
$gradient_three: #93f5ec;
$gradient_four: #a77bf3;
$button_shadow: 0px 0px 15px $gradient_two;
//@mixins
@mixin displayCenter($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

// responsive breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin mQ($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
